KBOT_VAULT_DATA_DIR=/opt/keeprone-kbot/vault/data
KBOT_VAULT_CONFIG_DIR=/opt/keeprone-kbot/vault/config
KBOT_VAULT_TLS_DIR=/opt/keeprone-kbot/vault/tls
KBOT_VAULT_BOOTSTRAP_DIR=/opt/keeprone-kbot/bootstrap
KBOT_VAULT_ENCRYPT_APPROLE_DIR=/opt/keeprone-kbot/vault/approle/encrypt
KBOT_VAULT_ENCRYPT_TOKEN_DIR=/opt/keeprone-kbot/vault/tokens/encrypt
KBOT_VAULT_DECRYPT_APPROLE_DIR=/opt/keeprone-kbot/vault/approle/decrypt
KBOT_VAULT_DECRYPT_TOKEN_DIR=/opt/keeprone-kbot/vault/tokens/decrypt
